<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mr Zhong</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
<header>
    <img class="headimg" src="/images/headimg.png">
    <h2>Mr Zhong</h2>
    <nav id="nav">
        <ul>
            <li class="current"><a href="#">首页</a></li>
            <li><a href="#">活动</a></li>
            <li><a href="#">话题</a></li>
            <li><a href="#">社区</a></li>
        </ul>
    </nav>
</header>

<script type="text/javascript">
    $("#nav ul li").click(function () {
        $("#nav ul li").eq($(this).index()).addClass("current").siblings().removeClass("current");
    })
</script>
</body>
</html>