<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mr Zhong</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
</head>
<body>
<header id="header-top">
    <div class="info">
        <h2>Mr Zhong</h2>
        <img class="headimg" src="/images/headimg.png"/>
    </div>
    <nav id="nav">
        <ul>
            <li class="current"><a href="#">首页</a></li>
            <li><a href="#">活动</a></li>
            <li><a href="#">话题</a></li>
            <li><a href="#">社区</a></li>
        </ul>
    </nav>
</header>

<div id="content"></div>

<footer>
    <p>welcome to visit.</p>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
        $("#content").load("./page1");
    })
    $("#nav ul li").click(function () {
        console.log("index == " + ($(this).index() + 1));
        $("#nav ul li").eq($(this).index()).addClass("current").siblings().removeClass("current");
        $("#content").load("./page" + ($(this).index() + 1));
    });
</script>
</body>
</html>